body {
    margin: 0;
    background-color: #1e1e2f;
    color: #ffffff;
    font-family: sans-serif;
}

header {
    background-color: #264259;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.Sonicorp{
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    padding: 5px;
}
.Sonicorp img {
   width: 200px;
   padding-right: 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    list-style: none;
    width: 300px;
    padding-left: 450px;
    gap: 30px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}
.lista {
    list-style-type: none;
}
.agora {
    font-weight: bolder;
}

.perfil{
    margin-left: auto;
    padding-right: 20px;
}
.perfil img{
    display: flex;
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    cursor: pointer;
    padding-left: 30px
}

.logout img{
    display: flex;
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}


main{
    height: 478px;
}
.card { 
    background-color: #2a2a3d;
    border-radius: 16px;
    padding: 10px;
    width: 500px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card img{
    display: flex;
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.info p {
    font-size: 17px;
    color: #aaa;
    margin-bottom: 5px;
}

.info h3 {
    font-size: 25px;
    color: white;
}

select{
    width: 230px;
    height: 30px;
    background-color: #D9D9D9;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid #000000; 
    display: flex;
}

.select{
    display: flex;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    margin-right: 80px;
    width: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 25px;
}

.topCards {
    width: 92%;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;

}


#divGrafico {
    background-color: #2a2a3d; 
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

#divGrafico:hover {
    transform: scale(1.02);
}

#divGrafico h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
    color: #f1f1f1;
}