body{
  margin: 0;  
  font-family: sans-serif;
  background-color: #172735;
}

header {
  background-color: #264259;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.Sonicorp{
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  padding: 5px;
}
.Sonicorp img {
 width: 200px;
 padding-right: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  color: #ffffff;
  list-style: none;
  width: 300px;
  padding-left: 450px;
  gap: 30px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}
.lista {
  list-style-type: none;
}
.agora {
  font-weight: bolder;
}

.perfil{
  margin-left: auto;
  padding-right: 20px;
}
.perfil img{
  display: flex;
  width: 35px;
  height: 35px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.texto {
    font-size: 18px;
    justify-content: center;
    display: flex;

}

.slcPorte{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.boxes input{
    display: flex;
}

.titulo-sensor {
    font-weight: bold;
}

.calculadora{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.calculadora .container {
  width: 90%;
  height: 1250px;
  background-color: #c3ccd4;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}


.calculadora h1, h2{
  display: flex;
  justify-content: center;
}


span{
  font-size: 17px;
}

input{
  background-color: #D9D9D9;
  height: 29px;
  font-size: 17px;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #000000;  
  width: 180px;
}

select{
  background-color: #D9D9D9;
  height: 30px;
  font-size: 17px;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #000000;  
  width: 180px;
}

button{
  background-color: #76a6a2da;
  color: #ffffff;
  font-size: 22px;
  padding: 6px;
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


footer {
  background-color: #264259;
  padding: 20px 40px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.logoFooter img {
  height: 70px;
  padding-left: 20px;
}

.colunas {
  display: flex;
  padding-right: 100px;
  gap: 110px;
}

.coluna h3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}

.coluna p {
  margin: 2px 0;
  color: #ffffff;
  opacity: 0.8;
}

footer .contatoSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;

}

footer .icones {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 35px;
  padding-top: 15px;
}

.icones img {
  width: 35px;
  height: 35px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icones img:hover {
  transform: translateY(-5px);
}

footer button {
  background-color: #76a6a2da;
  color: #ffffff;
  font-size: 15px;
  padding: 6px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

footer .corp {
  color: #ffffff;
  opacity: 0.6;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}

.incio {
  text-decoration: none;
  color: white;
}