body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #264259;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.Sonicorp{
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    padding: 5px;
}
.Sonicorp img {
   width: 200px;
   padding-right: 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    list-style: none;
    width: 300px;
    padding-left: 450px;
    gap: 30px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}
.lista {
    list-style-type: none;
}
.agora {
    font-weight: bolder;
}

.perfil{
    margin-left: auto;
    padding-right: 20px;
}
.perfil img{
    display: flex;
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.banner {
    height:550px;
    width: 100%;
    background-image: url(../IMG/esteiraIndustrial.jpg);
    background-size: cover;
}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.banner img {
    height: 150px;
}

.banner p {
    color: #ffffff;
    opacity: 0.7;
    text-align: center;
    font-size: 18px;
    gap: 0px;
    padding-left: 450px;
    padding-right: 450px;
    padding-top: 50px;
    font-weight: bold;
    
}

.banner button {
    background-color: #76a6a2da;
    color: #ffffff;
    font-size: 20px;
    padding: 6px;
    margin-bottom: 20px;
    width: 350px;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.banner .botaoBanner{
    padding-top: 80px;
}

.produtos {
    background-color: #172735fa;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.produtos .img{
    padding: 60px;
    padding-top: 90px;
}

.produtos img{
    border-radius: 10px;
}

.produtos .container{
    color: #ffffff;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    text-align: justify;
}
.produtos  h3{
    font-size: 30px; 
}

.produtos p{
    font-size: 17px;
    padding-right: 50px;
}

.produtos .botao{
    padding-top: 50px;
}

.produtos button {
    background-color: #76a6a2da;
    color: #ffffff;
    font-size: 18px;
    padding: 6px;
    margin-bottom: 20px;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.social {
    background-color: #3D4953;
    display: flex;
    height: 850px;
   
}

.social .container h2 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    opacity: 0.9;
}

.social .socialTexto {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    opacity: 0.9;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.boxes h4{
    font-size: 22px;
    color: #ffffff;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.boxes p{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 80px;
    text-align: justify;
    
}

.box .padding{
    padding-left: 10px;
    padding-right: 10px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8894A2;
    width: 340px;    
    height: 330px;
    text-align: justify;
}

.social button {
    background-color: #76a6a2da;
    color: #ffffff;
    font-size: 26px;
    padding: 6px;
    margin-bottom: 20px;
    width: 320px;
    height: 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.social .socialBotao{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

section {
    background-color: #13202b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
}

section .textoAgendar {
    width: 700px;   
    padding: 20px;
    text-align: justify;
    margin-top: -30px;
}
section .textoAgendar p{
    font-size: 16px;
}

section h2 {
    color: #ffffff;
    opacity: 0.9;
    font-size: 45px;
}

section p {
    color: #ffffff;
    opacity: 0.9;
    font-size: 15px;
    padding-top: 10px;
}

section .arrumar{
    padding-top: 90px;
    padding-right: 30px;
}

section button {
    background-color: #76a6a2da;
    color: #ffffff;
    font-size: 20px;
    padding: 6px;
    margin-bottom: 20px;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.formulario{
    background-color: #172735;
    display: flex;
    flex-direction: row;
}

.formulario .form{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 15px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.formulario .form2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.formulario .separacao{
    border-right: 2px solid #ffffff73;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 2px solid #333C43;
}

.faleConosco{
    color: #ffffff;
    opacity: 0.9;
    text-align: justify;
}

.formulario input{
    background-color: #d9d9d9a8;
    color: #ffffff;
    padding: 3px;
    font-size: 14px;
    border-radius: 7px;
    border: none;
}

::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 16px;
 }

.formulario .input1{
    width: 390px;
    height: 45px;
    padding-left: 10px;
}

.formulario .input2{
    width: 810px;
    height: 45px;
    padding-left: 10px;
    
}

.formulario textarea{
    font-family: sans-serif;
    background-color: #d9d9d9a8;
    color: #ffffff;
    height: 130px;
    padding: 3px;
    font-size: 14px;
    border-radius: 7px;
    border: none;
    resize: none;
    padding-top: 19px;
    padding-left: 10px;
}

.formulario .form2 button{
    background-color: #76a6a2da;
    color: #ffffff;
    font-size: 20px;
    padding: 6px;
    margin-bottom: 20px;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.formulario .formularioBotao{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.faleConosco h3{
    font-size: 35px;
    padding-left: 30px;
    padding-top: 15px;
}

.faleConosco p{
    font-size: 16px;
    padding-left: 30px;
    padding-right: 90px;
}

footer {
    background-color: #264259;
    padding: 20px 40px 0; 
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  
  .logoFooter img {
    height: 70px;
    padding-left: 30px;
  }
  
  .colunas {
    display: flex;
    padding-right: 100px;
    gap: 110px;
  }
  
  .coluna h3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .coluna p {
    margin: 2px 0;
    color: #ffffff;
    opacity: 0.8;
  }
  
  footer .contatoSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;

  }
  
  footer .icones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 35px;
    padding-top: 15px;
  }
  
  .icones img {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .icones img:hover {
    transform: translateY(-5px);
  }
  
  footer button {
    background-color: #76a6a2da;
    color: #ffffff;
    font-size: 15px;
    padding: 6px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  footer .corp {
    color: #ffffff;
    opacity: 0.6;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
  }

  .incio {
    text-decoration: none;
    color: white;
  }