body{
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #264259;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header .logo img {
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 20px;

}

nav .logout img {
  height: 50px;
}

.Sonicorp{
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  padding: 5px;
}
.Sonicorp img {
 width: 200px;
 padding-right: 200px;
}

.lista {
  list-style-type: none;
}
.agora {
  font-weight: bolder;
}

.perfil{
  margin-left: auto;
  padding-right: 20px;
}
.perfil img{
  display: flex;
  width: 35px;
  height: 35px;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.formulario {
  background-color: #172735;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  padding-bottom: 35px;

}

.formulario2 {
  background-color: #172735;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  padding-bottom: 35px;
}

.formulario .container {
  background-color: #ffffffad;
  width: 1100px;
  height: 800px;
  border-radius: 10px;
  display: flex;
  text-align: center;
}


.formulario2 .container2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffffad;
  width: 1000px;
  height: 650px;
  border-radius: 10px;
}

.formulario .simConta {
  background-color: #334155f5;
  color: #ffffff;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.formulario2 .simConta {
  background-color: #334155f5;
  color: #ffffff;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.simConta h2 {
  font-size: 35px;
  padding-top: 170px;
}

.simConta p {
  font-size: 16px;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}

.simConta button {
  background-color: #76a6a2da;
  color: #ffffff;
  font-size: 20px;
  padding: 6px;
  margin-bottom: 20px;
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.simConta .botaoSimconta{
  padding-bottom: 50px;
}

.formulario .crie {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 70%;
  /* background-color: red; */
  height: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

.formulario2 .crie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  /* background-color: red; */
  height: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

.crie2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.crie h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 8px;
}

.crie2 h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 60px;
}

.crie .mesmo{
  display: flex;
  gap: 20px;
}

.crie2 .mesmo{
  display: flex;
  gap: 20px;
}

.mesmo .campo{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mesmo .campo h4{
  margin-bottom: 5px;
}

.mesmo .campo input {
  background-color: #D9D9D9;
  height: 45px;
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid #000000;  
  width: 328px;
}

.inputs {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputs h4 {
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: normal;
}

.inputs input {
  background-color: #D9D9D9;
  height: 45px;
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid #000000;
  width: 680px;
}

.crie button {
  background-color: #76a6a2da;
  color: #ffffff;
  font-size: 25px;
  padding: 6px;
  margin-bottom: 20px;
  width: 310px;
  height: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  position: absolute;
}

.crie2 button {
  background-color: #76a6a2da;
  color: #ffffff;
  font-size: 25px;
  padding: 6px;
  margin-bottom: 20px;
  width: 310px;
  height: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  position: absolute;
}

.crie .arrumar{
  width: 100%;
  padding-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.crie2 .arrumar{
  width: 100%;
  padding-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.alinhar {
  width: 100%;
  line-height: 100%;
  display: flex;
}

.alinhar .botao {
  background-color: #76a6a2da;
  color: #ffffff;
  font-size: 20px;
  padding: 6px;
  margin-bottom: 20px;
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#botao1 {
  margin-right: 300px;
}

#botao2 {
  margin-left: 300px;
}

#select_uf {
  text-align: center;
  height: 50px;
  border-radius: 7px;
  width: 100%;
  font-size: 20px;
  background-color: #D9D9D9;
  border-color: black
}

footer {
  background-color: #264259;
  padding: 20px 40px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.logoFooter img {
  height: 70px;
  padding-left: 20px;
}

.colunas {
  display: flex;
  padding-right: 100px;
  gap: 110px;
}

.coluna h3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}

.coluna p {
  margin: 2px 0;
  color: #ffffff;
  opacity: 0.8;
}

footer .contatoSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;

}

footer .icones {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 35px;
  padding-top: 15px;
}

.icones img {
  width: 35px;
  height: 35px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icones img:hover {
  transform: translateY(-5px);
}

footer button {
  background-color: #76a6a2da;
  color: #ffffff;
  font-size: 15px;
  padding: 6px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

footer .corp {
  color: #ffffff;
  opacity: 0.6;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}

.incio {
  text-decoration: none;
  color: white;
}

.legenda {
  font-size: 1.3vh;
  margin-top: 1vh;
  color: #ff0000;
  height: 0.01vh;
}
