* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #172735;
  color: #264259;
}

header {
  background-color: #264259;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 50px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 16px;

}

.formulario {
    background-color: #172735;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.formulario .container {
    background-color: #ffffffad;
    padding: 0;
    border-radius: 10px;
    width: 1100px;
    height: 550px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.formulario .iconePerfil {
    padding-top: 40px;
    width: 35px;
    height: 35px;
}

.formulario p{
    font-size: 15px;
}

.login {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.login img {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    padding-left: 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.inputs input {
    background-color: #D9D9D9;
    height: 45px;
    padding: 3px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid #000000;
}

.inputs h3 {
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: normal;
}


.imagem {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0;
}

.formulario .adicional {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 13px;
    color: red;
}

.formulario button {
    background-color: #76a6a2da;
    color: #ffffff;
    font-size: 20px;
    padding: 6px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.formulario .button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.formulario .semConta {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}


footer {
    background-color: #264259;
    padding: 20px 40px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.logoFooter img {
    height: 70px;
    padding-left: 20px;
}

.colunas {
    display: flex;
    padding-right: 100px;
    gap: 110px;
}

.coluna h3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

.coluna p {
    margin: 2px 0;
    color: #ffffff;
    opacity: 0.8;
}

footer .contatoSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;

}

footer .icones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 35px;
    padding-top: 15px;
}

.icones img {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icones img:hover {
    transform: translateY(-5px);
}

footer button {
    background-color: #76a6a2da;
    color: #ffffff;
    font-size: 15px;
    padding: 6px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

footer .corp {
    color: #ffffff;
    opacity: 0.6;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
}

.incio {
    text-decoration: none;
    color: white;
  }